<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated turtle -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="turtle.presentation.TurtleModelWizardID"
            name="%_UI_TurtleModelWizard_label"
            class="turtle.presentation.TurtleModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TurtleModelFile.gif">
         <description>%_UI_TurtleModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated turtle -->
      <editor
            id="turtle.presentation.TurtleEditorID"
            name="%_UI_TurtleEditor_label"
            icon="icons/full/obj16/TurtleModelFile.gif"
            extensions="turtle"
            class="turtle.presentation.TurtleEditor"
            contributorClass="turtle.presentation.TurtleActionBarContributor">
      </editor>
   </extension>

</plugin>
